/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #1c6b99;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  p {
    margin: 5px 0 0;
  }
  
  .instructions {
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  ol {
    padding-left: 20px;
  }
  
  .download-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }
  
  .download-link:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  /* Diseño responsivo */
  @media (max-width: 600px) {
    header {
      padding: 15px;
    }
  
    .instructions {
      padding: 15px;
      margin: 10px;
    }
  
    footer {
      padding: 8px;
    }
  }
  